In [2]:
# =========================================
# Import required libraries
# =========================================

import re
import pandas as pd
import numpy as np
import unidecode # normalize strings by removing accents

In [51]:
# =========================================
# Load CSV datasets into separate DataFrames
# =========================================

raw_data_path = "../data/raw"

# Demography
population_df = pd.read_csv(f"{raw_data_path}\population_by_age_sex.csv")

# Mortality 
mortality_df = pd.read_csv(f"{raw_data_path}\mortality_rate.csv")
infant_mortality_df = pd.read_csv(f"{raw_data_path}\infant_mortality_rate.csv")

# Natality 
natality_df = pd.read_csv(f"{raw_data_path}\birth_rate.csv")

# Unemployment
unemployment_df = pd.read_csv(f"{raw_data_path}\unemployment_by_age.csv")

# Income
income_df = pd.read_csv(f"{raw_data_path}\average_monthly_income.csv")

# Pharmacies
pharmacies_df = pd.read_csv(f"{raw_data_path}\pharmacies.csv")

# Crime
crimes_df = pd.read_csv(f"{raw_data_path}\crimes_by_category.csv")

# Marital indicators 
nuptiality_df = pd.read_csv(f"{raw_data_path}\marriage_rate.csv")
divorce_df = pd.read_csv(f"{raw_data_path}\divorce_rate.csv")

C:\Users\Diogo Ribeiro\AppData\Local\Temp\ipykernel_7208\2580915172.py:6: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  population_df = pd.read_csv(r"S:\Projects\Original Datasets\population_by_age_sex.csv")

In [4]:
# =========================================
# Quick inspection of all datasets
# =========================================

# Create dictionary to hold dataset names and DataFrames
datasets = {
    "População Residente": population_df,
    "Taxa Bruta de Mortalidade": mortality_df,
    "Taxa de Mortalidade Infantil": infant_mortality_df,
    "Taxa Bruta de Natalidade": natality_df,
    "Taxa de Desemprego": unemployment_df,
    "Salário": income_df,
    "Farmácias": pharmacies_df,
    "Crimes": crimes_df,
    "Taxa de Nupcialidade": nuptiality_df,
    "Taxa de Divórcio": divorce_df
}

# Iterate through datasets for a quick inspection
for name, df in datasets.items():
    print(f"\n{name}:")
    display(df.head())
    print("\nInfo:")
    print(df.info())
    print("\nSummary statistics:")
    print(df.describe())

População Residente:

,01. Ano,02. Nome País (Europa),03. Nome Região (Portugal),04. Âmbito Geográfico,05. Filtro 1,06. Filtro 2,07. Filtro 3,08. Escala,09. Símbolo,10. Valor
0,1960.0,NaN,Portugal,NaN,Homens,5 - 9 anos,NaN,pessoas,NaN,433899.0
1,1960.0,NaN,Portugal,NaN,Homens,10 - 14 anos,NaN,pessoas,NaN,423614.0
2,1960.0,NaN,Portugal,NaN,Homens,15 - 19 anos,NaN,pessoas,NaN,366103.0
3,1960.0,NaN,Portugal,NaN,Homens,20 - 24 anos,NaN,pessoas,NaN,336672.0
4,1960.0,NaN,Portugal,NaN,Homens,25 - 29 anos,NaN,pessoas,NaN,324364.0

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 718885 entries, 0 to 718884
Data columns (total 10 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   01. Ano                     718881 non-null  float64
 1   02. Nome País (Europa)      108867 non-null  object
 2   03. Nome Região (Portugal)  610017 non-null  object
 3   04. Âmbito Geográfico       606144 non-null  object
 4   05. Filtro 1                718881 non-null  object
 5   06. Filtro 2                718881 non-null  object
 6   07. Filtro 3                0 non-null       float64
 7   08. Escala                  718881 non-null  object
 8   09. Símbolo                 13542 non-null   object
 9   10. Valor                   707216 non-null  float64
dtypes: float64(3), object(7)
memory usage: 54.8+ MB
None

Summary statistics:
             01. Ano  07. Filtro 3     10. Valor
count  718881.000000           0.0  7.072160e+05
mean     2004.926290           NaN  1.414223e+05
std        13.044467           NaN  1.472462e+06
min      1960.000000           NaN  0.000000e+00
25%      1997.000000           NaN  2.690000e+02
50%      2006.000000           NaN  7.120000e+02
75%      2015.000000           NaN  3.426000e+03
max      2024.000000           NaN  8.345604e+07

Taxa Bruta de Mortalidade:

,01. Ano,02. Nome País (Europa),03. Nome Região (Portugal),04. Âmbito Geográfico,05. Filtro 1,06. Filtro 2,07. Filtro 3,08. Escala,09. Símbolo,10. Valor
0,1960.0,NaN,Portugal,NaN,NaN,NaN,NaN,por 1000 pessoas,NaN,10.7
1,1960.0,Alemanha,NaN,NaN,NaN,NaN,NaN,por 1000 pessoas,NaN,11.6
2,1960.0,Áustria,NaN,NaN,NaN,NaN,NaN,por 1000 pessoas,NaN,12.7
3,1960.0,Bélgica,NaN,NaN,NaN,NaN,NaN,por 1000 pessoas,NaN,12.4
4,1960.0,Bulgária,NaN,NaN,NaN,NaN,NaN,por 1000 pessoas,NaN,8.1

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10756 entries, 0 to 10755
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   01. Ano                     10752 non-null  float64
 1   02. Nome País (Europa)      1758 non-null   object
 2   03. Nome Região (Portugal)  8997 non-null   object
 3   04. Âmbito Geográfico       8932 non-null   object
 4   05. Filtro 1                0 non-null      float64
 5   06. Filtro 2                0 non-null      float64
 6   07. Filtro 3                0 non-null      float64
 7   08. Escala                  10752 non-null  object
 8   09. Símbolo                 136 non-null    object
 9   10. Valor                   10701 non-null  float64
dtypes: float64(5), object(5)
memory usage: 840.4+ KB
None

Summary statistics:
            01. Ano  05. Filtro 1  06. Filtro 2  07. Filtro 3     10. Valor
count  10752.000000           0.0           0.0           0.0  10701.000000
mean    2006.953125           NaN           NaN           NaN     12.865975
std       12.779275           NaN           NaN           NaN      4.209383
min     1960.000000           NaN           NaN           NaN      0.000000
25%     2000.750000           NaN           NaN           NaN      9.900000
50%     2008.500000           NaN           NaN           NaN     12.100000
75%     2016.250000           NaN           NaN           NaN     15.000000
max     2024.000000           NaN           NaN           NaN     35.000000

Taxa de Mortalidade Infantil:

,01. Ano,02. Nome País (Europa),03. Nome Região (Portugal),04. Âmbito Geográfico,05. Filtro 1,06. Filtro 2,07. Filtro 3,08. Escala,09. Símbolo,10. Valor
0,1960.0,NaN,Portugal,NaN,NaN,NaN,NaN,mortes por 1000 nados-vivos,NaN,77.5
1,1960.0,Alemanha,NaN,NaN,NaN,NaN,NaN,mortes por 1000 nados-vivos,NaN,33.8
2,1960.0,Áustria,NaN,NaN,NaN,NaN,NaN,mortes por 1000 nados-vivos,NaN,37.5
3,1960.0,Bélgica,NaN,NaN,NaN,NaN,NaN,mortes por 1000 nados-vivos,NaN,31.4
4,1960.0,Bulgária,NaN,NaN,NaN,NaN,NaN,mortes por 1000 nados-vivos,NaN,45.1

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10729 entries, 0 to 10728
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   01. Ano                     10725 non-null  float64
 1   02. Nome País (Europa)      1731 non-null   object
 2   03. Nome Região (Portugal)  8997 non-null   object
 3   04. Âmbito Geográfico       8932 non-null   object
 4   05. Filtro 1                0 non-null      float64
 5   06. Filtro 2                0 non-null      float64
 6   07. Filtro 3                0 non-null      float64
 7   08. Escala                  10725 non-null  object
 8   09. Símbolo                 40 non-null     object
 9   10. Valor                   10681 non-null  float64
dtypes: float64(5), object(5)
memory usage: 838.3+ KB
None

Summary statistics:
            01. Ano  05. Filtro 1  06. Filtro 2  07. Filtro 3     10. Valor
count  10725.000000           0.0           0.0           0.0  10681.000000
mean    2006.910210           NaN           NaN           NaN      5.382099
std       12.766658           NaN           NaN           NaN      9.692974
min     1960.000000           NaN           NaN           NaN      0.000000
25%     2000.000000           NaN           NaN           NaN      0.000000
50%     2008.000000           NaN           NaN           NaN      1.500000
75%     2016.000000           NaN           NaN           NaN      6.600000
max     2024.000000           NaN           NaN           NaN    166.700000

Taxa Bruta de Natalidade:

,01. Ano,02. Nome País (Europa),03. Nome Região (Portugal),04. Âmbito Geográfico,05. Filtro 1,06. Filtro 2,07. Filtro 3,08. Escala,09. Símbolo,10. Valor
0,1960.0,NaN,Portugal,NaN,NaN,NaN,NaN,por 1000 pessoas,NaN,24.1
1,1960.0,Alemanha,NaN,NaN,NaN,NaN,NaN,por 1000 pessoas,NaN,17.4
2,1960.0,Áustria,NaN,NaN,NaN,NaN,NaN,por 1000 pessoas,NaN,17.9
3,1960.0,Bélgica,NaN,NaN,NaN,NaN,NaN,por 1000 pessoas,NaN,16.8
4,1960.0,Bulgária,NaN,NaN,NaN,NaN,NaN,por 1000 pessoas,NaN,17.8

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11064 entries, 0 to 11063
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   01. Ano                     11060 non-null  float64
 1   02. Nome País (Europa)      1758 non-null   object
 2   03. Nome Região (Portugal)  9305 non-null   object
 3   04. Âmbito Geográfico       9240 non-null   object
 4   05. Filtro 1                0 non-null      float64
 5   06. Filtro 2                0 non-null      float64
 6   07. Filtro 3                0 non-null      float64
 7   08. Escala                  11060 non-null  object
 8   09. Símbolo                 75 non-null     object
 9   10. Valor                   11025 non-null  float64
dtypes: float64(5), object(5)
memory usage: 864.5+ KB
None

Summary statistics:
            01. Ano  05. Filtro 1  06. Filtro 2  07. Filtro 3     10. Valor
count  11060.000000           0.0           0.0           0.0  11025.000000
mean    2006.620253           NaN           NaN           NaN      8.898395
std       12.752646           NaN           NaN           NaN      3.310468
min     1960.000000           NaN           NaN           NaN      0.000000
25%     2000.000000           NaN           NaN           NaN      6.600000
50%     2008.000000           NaN           NaN           NaN      8.400000
75%     2016.000000           NaN           NaN           NaN     10.500000
max     2024.000000           NaN           NaN           NaN     27.000000

Taxa de Desemprego:

,01. Ano,02. Nome Região (Portugal),03. Âmbito Geográfico,04. Filtro 1,05. Filtro 2,06. Filtro 3,08. Símbolo,07. Escala,09. Valor
0,1997.0,Portugal,NaN,25-34,NaN,NaN,NaN,pessoas,113402.0
1,1997.0,Portugal,NaN,35-44,NaN,NaN,NaN,pessoas,84706.0
2,1997.0,Portugal,NaN,45-54,NaN,NaN,NaN,pessoas,69822.0
3,1997.0,Portugal,NaN,55 ou mais anos,NaN,NaN,NaN,pessoas,60510.0
4,1997.0,Portugal,NaN,Menos de 25 anos,NaN,NaN,NaN,pessoas,100042.0

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29740 entries, 0 to 29739
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   01. Ano                     29736 non-null  float64
 1   02. Nome Região (Portugal)  29739 non-null  object
 2   03. Âmbito Geográfico       29568 non-null  object
 3   04. Filtro 1                29736 non-null  object
 4   05. Filtro 2                0 non-null      float64
 5   06. Filtro 3                0 non-null      float64
 6   08. Símbolo                 2880 non-null   object
 7   07. Escala                  29736 non-null  object
 8   09. Valor                   26856 non-null  float64
dtypes: float64(4), object(5)
memory usage: 2.0+ MB
None

Summary statistics:
            01. Ano  05. Filtro 2  06. Filtro 3      09. Valor
count  29736.000000           0.0           0.0   26856.000000
mean    2016.466102           NaN           NaN    1407.775469
std        4.658493           NaN           NaN   15426.327974
min     1997.000000           NaN           NaN       3.000000
25%     2012.000000           NaN           NaN      59.000000
50%     2016.000000           NaN           NaN     149.000000
75%     2020.000000           NaN           NaN     446.000000
max     2024.000000           NaN           NaN  671716.000000

Salário:

,01. Ano,02. Nome Região (Portugal),03. Âmbito Geográfico,04. Filtro 1,05. Filtro 2,06. Filtro 3,08. Símbolo,07. Escala,09. Valor
0,2004.0,Portugal,NaN,NaN,NaN,NaN,NaN,euros,877.5
1,2005.0,Portugal,NaN,NaN,NaN,NaN,NaN,euros,907.2
2,2006.0,Portugal,NaN,NaN,NaN,NaN,NaN,euros,934.0
3,2007.0,Portugal,NaN,NaN,NaN,NaN,NaN,euros,963.3
4,2008.0,Portugal,NaN,NaN,NaN,NaN,NaN,euros,1008.0

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6184 entries, 0 to 6183
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   01. Ano                     6180 non-null   float64
 1   02. Nome Região (Portugal)  6183 non-null   object
 2   03. Âmbito Geográfico       6160 non-null   object
 3   04. Filtro 1                0 non-null      float64
 4   05. Filtro 2                0 non-null      float64
 5   06. Filtro 3                0 non-null      float64
 6   08. Símbolo                 100 non-null    object
 7   07. Escala                  6180 non-null   object
 8   09. Valor                   6080 non-null   float64
dtypes: float64(5), object(4)
memory usage: 434.9+ KB
None

Summary statistics:
           01. Ano  04. Filtro 1  05. Filtro 2  06. Filtro 3    09. Valor
count  6180.000000           0.0           0.0           0.0  6080.000000
mean   2013.500000           NaN           NaN           NaN   909.772418
std       5.766748           NaN           NaN           NaN   207.084175
min    2004.000000           NaN           NaN           NaN   521.900000
25%    2008.750000           NaN           NaN           NaN   769.975000
50%    2013.500000           NaN           NaN           NaN   878.100000
75%    2018.250000           NaN           NaN           NaN  1013.625000
max    2023.000000           NaN           NaN           NaN  2479.100000

Farmácias:

,01. Ano,02. Nome Região (Portugal),03. Âmbito Geográfico,04. Filtro 1,05. Filtro 2,06. Filtro 3,08. Símbolo,07. Escala,09. Valor
0,1990.0,Portugal,NaN,NaN,NaN,NaN,NaN,farmácias,2791.0
1,1991.0,Portugal,NaN,NaN,NaN,NaN,NaN,farmácias,2799.0
2,1992.0,Portugal,NaN,NaN,NaN,NaN,NaN,farmácias,2814.0
3,1993.0,Portugal,NaN,NaN,NaN,NaN,NaN,farmácias,2825.0
4,1994.0,Portugal,NaN,NaN,NaN,NaN,NaN,farmácias,2845.0

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7123 entries, 0 to 7122
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   01. Ano                     7119 non-null   float64
 1   02. Nome Região (Portugal)  7122 non-null   object
 2   03. Âmbito Geográfico       7084 non-null   object
 3   04. Filtro 1                0 non-null      float64
 4   05. Filtro 2                0 non-null      float64
 5   06. Filtro 3                0 non-null      float64
 6   08. Símbolo                 20 non-null     object
 7   07. Escala                  7119 non-null   object
 8   09. Valor                   7119 non-null   float64
dtypes: float64(5), object(4)
memory usage: 501.0+ KB
None

Summary statistics:
           01. Ano  04. Filtro 1  05. Filtro 2  06. Filtro 3    09. Valor
count  7119.000000           0.0           0.0           0.0  7119.000000
mean   2012.970501           NaN           NaN           NaN    24.642506
std       6.668397           NaN           NaN           NaN   209.880987
min    1990.000000           NaN           NaN           NaN     0.000000
25%    2007.000000           NaN           NaN           NaN     3.000000
50%    2013.000000           NaN           NaN           NaN     5.000000
75%    2019.000000           NaN           NaN           NaN    11.000000
max    2024.000000           NaN           NaN           NaN  3123.000000

Crimes:

,01. Ano,02. Nome Região (Portugal),03. Âmbito Geográfico,04. Filtro 1,05. Filtro 2,06. Filtro 3,08. Símbolo,07. Escala,09. Valor
0,1993.0,Portugal,NaN,1. Contra as pessoas,NaN,NaN,NaN,crimes,68677.0
1,1993.0,Portugal,NaN,2. Contra o património,NaN,NaN,NaN,crimes,169031.0
2,1993.0,Portugal,NaN,3. Contra a vida em sociedade,NaN,NaN,NaN,crimes,23829.0
3,1993.0,Portugal,NaN,4. Contra o Estado,NaN,NaN,NaN,crimes,2563.0
4,1993.0,Portugal,NaN,"5. Contra a identidade cultural, integridade p...",NaN,NaN,-,crimes,NaN

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39684 entries, 0 to 39683
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   01. Ano                     39680 non-null  float64
 1   02. Nome Região (Portugal)  39683 non-null  object
 2   03. Âmbito Geográfico       39424 non-null  object
 3   04. Filtro 1                39680 non-null  object
 4   05. Filtro 2                0 non-null      float64
 5   06. Filtro 3                0 non-null      float64
 6   08. Símbolo                 9728 non-null   object
 7   07. Escala                  39680 non-null  object
 8   09. Valor                   29952 non-null  float64
dtypes: float64(4), object(5)
memory usage: 2.7+ MB
None

Summary statistics:
            01. Ano  05. Filtro 2  06. Filtro 3      09. Valor
count  39680.000000           0.0           0.0   29952.000000
mean    2016.448387           NaN           NaN    1147.418236
std        4.698266           NaN           NaN   14066.336554
min     1993.000000           NaN           NaN       0.000000
25%     2012.000000           NaN           NaN      22.000000
50%     2016.000000           NaN           NaN      78.000000
75%     2020.000000           NaN           NaN     268.000000
max     2024.000000           NaN           NaN  431977.000000

Taxa de Nupcialidade:

,01. Ano,02. Nome País (Europa),03. Nome Região (Portugal),04. Âmbito Geográfico,05. Filtro 1,06. Filtro 2,07. Filtro 3,08. Escala,09. Símbolo,10. Valor
0,1960.0,Alemanha,NaN,NaN,NaN,NaN,NaN,por 1000 pessoas,NaN,9.4
1,1960.0,Áustria,NaN,NaN,NaN,NaN,NaN,por 1000 pessoas,NaN,8.3
2,1960.0,Bélgica,NaN,NaN,NaN,NaN,NaN,por 1000 pessoas,NaN,7.1
3,1960.0,Bulgária,NaN,NaN,NaN,NaN,NaN,por 1000 pessoas,NaN,8.8
4,1960.0,Chéquia,NaN,NaN,NaN,NaN,NaN,por 1000 pessoas,NaN,7.7

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11036 entries, 0 to 11035
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   01. Ano                     11032 non-null  float64
 1   02. Nome País (Europa)      1731 non-null   object
 2   03. Nome Região (Portugal)  9304 non-null   object
 3   04. Âmbito Geográfico       9240 non-null   object
 4   05. Filtro 1                0 non-null      float64
 5   06. Filtro 2                0 non-null      float64
 6   07. Filtro 3                0 non-null      float64
 7   08. Escala                  11032 non-null  object
 8   09. Símbolo                 110 non-null    object
 9   10. Valor                   10976 non-null  float64
dtypes: float64(5), object(5)
memory usage: 862.3+ KB
None

Summary statistics:
            01. Ano  05. Filtro 1  06. Filtro 2  07. Filtro 3     10. Valor
count  11032.000000           0.0           0.0           0.0  10976.000000
mean    2006.581943           NaN           NaN           NaN      4.446948
std       12.732045           NaN           NaN           NaN      2.131355
min     1960.000000           NaN           NaN           NaN      0.000000
25%     2000.000000           NaN           NaN           NaN      2.900000
50%     2008.000000           NaN           NaN           NaN      4.200000
75%     2016.000000           NaN           NaN           NaN      5.700000
max     2024.000000           NaN           NaN           NaN     33.900000

Taxa de Divórcio:

,01. Ano,02. Nome País (Europa),03. Nome Região (Portugal),04. Âmbito Geográfico,05. Filtro 1,06. Filtro 2,07. Filtro 3,08. Escala,09. Símbolo,10. Valor
0,1960.0,Alemanha,NaN,NaN,NaN,NaN,NaN,por 1000 pessoas,NaN,0.9
1,1960.0,Áustria,NaN,NaN,NaN,NaN,NaN,por 1000 pessoas,NaN,1.1
2,1960.0,Bélgica,NaN,NaN,NaN,NaN,NaN,por 1000 pessoas,NaN,0.5
3,1960.0,Bulgária,NaN,NaN,NaN,NaN,NaN,por 1000 pessoas,x,NaN
4,1960.0,Chéquia,NaN,NaN,NaN,NaN,NaN,por 1000 pessoas,NaN,1.4

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10727 entries, 0 to 10726
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   01. Ano                     10723 non-null  float64
 1   02. Nome País (Europa)      1731 non-null   object
 2   03. Nome Região (Portugal)  8995 non-null   object
 3   04. Âmbito Geográfico       8932 non-null   object
 4   05. Filtro 1                0 non-null      float64
 5   06. Filtro 2                0 non-null      float64
 6   07. Filtro 3                0 non-null      float64
 7   08. Escala                  10723 non-null  object
 8   09. Símbolo                 4823 non-null   object
 9   10. Valor                   10535 non-null  float64
dtypes: float64(5), object(5)
memory usage: 838.2+ KB
None

Summary statistics:
            01. Ano  05. Filtro 1  06. Filtro 2  07. Filtro 3     10. Valor
count  10723.000000           0.0           0.0           0.0  10535.000000
mean    2006.080015           NaN           NaN           NaN      1.695273
std       12.561104           NaN           NaN           NaN      0.816953
min     1960.000000           NaN           NaN           NaN      0.000000
25%     2000.000000           NaN           NaN           NaN      1.100000
50%     2008.000000           NaN           NaN           NaN      1.700000
75%     2016.000000           NaN           NaN           NaN      2.200000
max     2023.000000           NaN           NaN           NaN      7.600000

In [4]:
# =========================================
# Clean column names for all datasets
# =========================================

for df in datasets.values():
    # Remove extra spaces (leading and trailing)
    df.columns = df.columns.str.strip() 

    # Replace spaces with underscores
    df.columns = df.columns.str.replace(" ", "_", regex=False) 

    # Remove accents for consistency 
    df.columns = [unidecode.unidecode(col) for col in df.columns]

    # Remove starting numbers for consistency (they vary across datasets)
    df.columns = df.columns.str.replace(r'^\d+\._', "", regex=True) 

# Print cleaned columns names to confirm
for name, df in datasets.items():
    print(f"{name} columns:", df.columns.tolist())

População Residente columns: ['Ano', 'Nome_Pais_(Europa)', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Filtro_1', 'Filtro_2', 'Filtro_3', 'Escala', 'Simbolo', 'Valor']
Taxa Bruta de Mortalidade columns: ['Ano', 'Nome_Pais_(Europa)', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Filtro_1', 'Filtro_2', 'Filtro_3', 'Escala', 'Simbolo', 'Valor']
Taxa de Mortalidade Infantil columns: ['Ano', 'Nome_Pais_(Europa)', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Filtro_1', 'Filtro_2', 'Filtro_3', 'Escala', 'Simbolo', 'Valor']
Taxa Bruta de Natalidade columns: ['Ano', 'Nome_Pais_(Europa)', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Filtro_1', 'Filtro_2', 'Filtro_3', 'Escala', 'Simbolo', 'Valor']
Taxa de Desemprego columns: ['Ano', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Filtro_1', 'Filtro_2', 'Filtro_3', 'Simbolo', 'Escala', 'Valor']
Salário columns: ['Ano', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Filtro_1', 'Filtro_2', 'Filtro_3', 'Simbolo', 'Escala', 'Valor']
Farmácias columns: ['Ano', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Filtro_1', 'Filtro_2', 'Filtro_3', 'Simbolo', 'Escala', 'Valor']
Crimes columns: ['Ano', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Filtro_1', 'Filtro_2', 'Filtro_3', 'Simbolo', 'Escala', 'Valor']
Taxa de Nupcialidade columns: ['Ano', 'Nome_Pais_(Europa)', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Filtro_1', 'Filtro_2', 'Filtro_3', 'Escala', 'Simbolo', 'Valor']
Taxa de Divórcio columns: ['Ano', 'Nome_Pais_(Europa)', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Filtro_1', 'Filtro_2', 'Filtro_3', 'Escala', 'Simbolo', 'Valor']

In [5]:
# =========================================
# Filter datasets to ensure one value per Municipio
# =========================================

# Rationale:
# Some datasets contain multiple breakdowns (by age, sex, etc.).

# Population dataset: keep only totals 
datasets["População Residente"] = datasets["População Residente"][
    (datasets["População Residente"]["Filtro_1"] == "Total") &
    (datasets["População Residente"]["Filtro_2"] == "Total")
]

# Unemployment dataset: keep only totals 
datasets["Taxa de Desemprego"] = datasets["Taxa de Desemprego"][
    datasets["Taxa de Desemprego"]["Filtro_1"] == "Total"
]

# Crimes dataset: keep only totals
datasets["Crimes_Total"] = datasets["Crimes"][
    datasets["Crimes"]["Filtro_1"] == "Total"
]

In [6]:
# =========================================
# Remove unnecessary columns from all datasets
# =========================================

# Columns to drop (not needed for analysis)
cols_to_drop = [
    "Nome_Pais_(Europa)", 
    "Filtro_1", 
    "Filtro_2", 
    "Filtro_3", 
    "Escala", 
    "Simbolo",
]

for name, df in datasets.items():
    # Keep Filtro_1 (type of crime) for crimes_df, drop everything else
    if name == "Crimes":
        df.drop(columns=[col for col in cols_to_drop if col != "Filtro_1"], inplace=True, errors="ignore")
    else:
        df.drop(columns=cols_to_drop, inplace=True, errors="ignore") # ignores missing columns

# Print cleaned column names to confirm
for name, df in datasets.items():
    print(f"{name} columns:", df.columns.tolist())

População Residente columns: ['Ano', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Valor']
Taxa Bruta de Mortalidade columns: ['Ano', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Valor']
Taxa de Mortalidade Infantil columns: ['Ano', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Valor']
Taxa Bruta de Natalidade columns: ['Ano', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Valor']
Taxa de Desemprego columns: ['Ano', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Valor']
Salário columns: ['Ano', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Valor']
Farmácias columns: ['Ano', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Valor']
Crimes columns: ['Ano', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Filtro_1', 'Valor']
Taxa de Nupcialidade columns: ['Ano', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Valor']
Taxa de Divórcio columns: ['Ano', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Valor']
Crimes_Total columns: ['Ano', 'Nome_Regiao_(Portugal)', 'Ambito_Geografico', 'Valor']

C:\Users\Diogo Ribeiro\AppData\Local\Temp\ipykernel_23924\1181386236.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=cols_to_drop, inplace=True, errors="ignore") # ignores missing columns
C:\Users\Diogo Ribeiro\AppData\Local\Temp\ipykernel_23924\1181386236.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=cols_to_drop, inplace=True, errors="ignore") # ignores missing columns
C:\Users\Diogo Ribeiro\AppData\Local\Temp\ipykernel_23924\1181386236.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=cols_to_drop, inplace=True, errors="ignore") # ignores missing columns

In [7]:
# =========================================
# Rename column names 
# =========================================

# New column names
new_names = {
    "Nome_Regiao_(Portugal)": "Regiao",
    "Ambito_Geografico": "Nivel",
}

# Map each dataset's "Valor" column to a descriptive name 
valor_names = {
    "População Residente": "Populacao",
    "Taxa Bruta de Mortalidade": "Mortes_por_1000",
    "Taxa de Mortalidade Infantil": "Mortes_por_1000_nadosvivos",
    "Taxa Bruta de Natalidade": "Nascimentos_por_1000",
    "Taxa de Desemprego": "n_desempregados",
    "Salário": "Salario",
    "Farmácias": "n_farmacias",
    "Crimes_Total": "n_crimes",
    "Crimes": "n_crimes",
    "Taxa de Nupcialidade": "Casamentos_por_1000",
    "Taxa de Divórcio": "Divorcios_por_1000",
}

# Rename columns
for name, df in datasets.items():
    # Rename column names
    df.rename(columns=new_names, inplace=True) 

    # Rename "Valor" column to dataset-specific descriptive name
    if name in valor_names:
        df.rename(columns={"Valor": valor_names[name]}, inplace=True) 

# Print cleaned column names to confirm
for name, df in datasets.items():
    print(f"{name} columns:", df.columns.tolist())

População Residente columns: ['Ano', 'Regiao', 'Nivel', 'Populacao']
Taxa Bruta de Mortalidade columns: ['Ano', 'Regiao', 'Nivel', 'Mortes_por_1000']
Taxa de Mortalidade Infantil columns: ['Ano', 'Regiao', 'Nivel', 'Mortes_por_1000_nadosvivos']
Taxa Bruta de Natalidade columns: ['Ano', 'Regiao', 'Nivel', 'Nascimentos_por_1000']
Taxa de Desemprego columns: ['Ano', 'Regiao', 'Nivel', 'n_desempregados']
Salário columns: ['Ano', 'Regiao', 'Nivel', 'Salario']
Farmácias columns: ['Ano', 'Regiao', 'Nivel', 'n_farmacias']
Crimes columns: ['Ano', 'Regiao', 'Nivel', 'Filtro_1', 'n_crimes']
Taxa de Nupcialidade columns: ['Ano', 'Regiao', 'Nivel', 'Casamentos_por_1000']
Taxa de Divórcio columns: ['Ano', 'Regiao', 'Nivel', 'Divorcios_por_1000']
Crimes_Total columns: ['Ano', 'Regiao', 'Nivel', 'n_crimes']

C:\Users\Diogo Ribeiro\AppData\Local\Temp\ipykernel_23924\627878687.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=new_names, inplace=True) # rename column names
C:\Users\Diogo Ribeiro\AppData\Local\Temp\ipykernel_23924\627878687.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"Valor": valor_names[name]}, inplace=True) # rename dataset-specific column Valor

In [8]:
# =========================================
# Standardize values for Regiao and Nivel 
# =========================================

# Standardize Regiao and Nivel columns in all datasets
for df in datasets.values():
    # Remove leading/trailing spaces, capitalize, remove accents
    df["Regiao"] = df["Regiao"].astype(str).str.strip().str.title() 
    df["Regiao"] = df["Regiao"].apply(lambda x: unidecode.unidecode(x)) 
    
    df["Nivel"] = df["Nivel"].astype(str).str.strip().str.title() 
    df["Nivel"] = df["Nivel"].apply(lambda x: unidecode.unidecode(x)) 

# Special case: Crimes dataset
crimes = datasets["Crimes"]

# Rename column Filro_1 to Tipo_Crime
crimes.rename(columns={"Filtro_1": "Tipo_Crime"}, inplace=True)

# Standardize Tipo_Crime values
crimes["Tipo_Crime"] = (
    crimes["Tipo_Crime"]
    .astype(str)
    .str.strip()
    .str.title() # removes leading/trailing spaces and capitalizes each word
    .apply(lambda x: re.sub(r'^\d+\.\s*', '', x))  # Remove "01. ", "02. ", etc.
    .apply(lambda x: unidecode.unidecode(x)) # remove accents
)

# Check unique Regiao values for all datasets

for name, df in datasets.items():
    print(f"{name} unique Regiao values:", df["Regiao"].unique())

C:\Users\Diogo Ribeiro\AppData\Local\Temp\ipykernel_23924\717651580.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Regiao"] = df["Regiao"].astype(str).str.strip().str.title() # removes leading/trailing spaces and capitalizes each word
C:\Users\Diogo Ribeiro\AppData\Local\Temp\ipykernel_23924\717651580.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Regiao"] = df["Regiao"].apply(lambda x: unidecode.unidecode(x)) # remove accents
C:\Users\Diogo Ribeiro\AppData\Local\Temp\ipykernel_23924\717651580.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Nivel"] = df["Nivel"].astype(str).str.strip().str.title() # removes leading/trailing spaces and capitalizes each word
C:\Users\Diogo Ribeiro\AppData\Local\Temp\ipykernel_23924\717651580.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Nivel"] = df["Nivel"].apply(lambda x: unidecode.unidecode(x)) # remove accents
C:\Users\Diogo Ribeiro\AppData\Local\Temp\ipykernel_23924\717651580.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Regiao"] = df["Regiao"].astype(str).str.strip().str.title() # removes leading/trailing spaces and capitalizes each word
C:\Users\Diogo Ribeiro\AppData\Local\Temp\ipykernel_23924\717651580.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Regiao"] = df["Regiao"].apply(lambda x: unidecode.unidecode(x)) # remove accents
C:\Users\Diogo Ribeiro\AppData\Local\Temp\ipykernel_23924\717651580.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Nivel"] = df["Nivel"].astype(str).str.strip().str.title() # removes leading/trailing spaces and capitalizes each word
C:\Users\Diogo Ribeiro\AppData\Local\Temp\ipykernel_23924\717651580.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Nivel"] = df["Nivel"].apply(lambda x: unidecode.unidecode(x)) # remove accents

População Residente unique Regiao values: ['Portugal' 'Nan' 'Abrantes' 'Agueda' 'Aguiar Da Beira' 'Alandroal'
 'Albergaria-A-Velha' 'Albufeira' 'Alcacer Do Sal' 'Alcanena' 'Alcobaca'
 'Alcochete' 'Alcoutim' 'Alenquer' 'Alfandega Da Fe' 'Alijo' 'Aljezur'
 'Aljustrel' 'Almada' 'Almeida' 'Almeirim' 'Almodovar' 'Alpiarca'
 'Alter Do Chao' 'Alvaiazere' 'Alvito' 'Amadora' 'Amarante' 'Amares'
 'Anadia' 'Angra Do Heroismo' 'Ansiao' 'Arcos De Valdevez' 'Arganil'
 'Armamar' 'Arouca' 'Arraiolos' 'Arronches' 'Arruda Dos Vinhos' 'Aveiro'
 'Avis' 'Azambuja' 'Baiao' 'Barcelos' 'Barrancos' 'Barreiro' 'Batalha'
 'Beja' 'Belmonte' 'Benavente' 'Bombarral' 'Borba' 'Boticas' 'Braga'
 'Braganca' 'Cabeceiras De Basto' 'Cadaval' 'Caldas Da Rainha'
 'Calheta [R.A.A.]' 'Calheta [R.A.M.]' 'Camara De Lobos' 'Caminha'
 'Campo Maior' 'Cantanhede' 'Carrazeda De Ansiaes' 'Carregal Do Sal'
 'Cartaxo' 'Cascais' 'Castanheira De Pera' 'Castelo Branco'
 'Castelo De Paiva' 'Castelo De Vide' 'Castro Daire' 'Castro Marim'
 'Castro Verde' 'Celorico Da Beira' 'Celorico De Basto' 'Chamusca'
 'Chaves' 'Cinfaes' 'Coimbra' 'Condeixa-A-Nova' 'Constancia' 'Coruche'
 'Corvo' 'Covilha' 'Crato' 'Cuba' 'Elvas' 'Entroncamento' 'Espinho'
 'Esposende' 'Estarreja' 'Estremoz' 'Evora' 'Fafe' 'Faro' 'Felgueiras'
 'Ferreira Do Alentejo' 'Ferreira Do Zezere' 'Figueira Da Foz'
 'Figueira De Castelo Rodrigo' 'Figueiro Dos Vinhos' 'Fornos De Algodres'
 'Freixo De Espada A Cinta' 'Fronteira' 'Funchal' 'Fundao' 'Gaviao' 'Gois'
 'Golega' 'Gondomar' 'Gouveia' 'Grandola' 'Guarda' 'Guimaraes' 'Horta'
 'Idanha-A-Nova' 'Ilhavo' 'Lagoa' 'Lagoa [R.A.A.]' 'Lagos'
 'Lajes Das Flores' 'Lajes Do Pico' 'Lamego' 'Leiria' 'Lisboa' 'Loule'
 'Loures' 'Lourinha' 'Lousa' 'Lousada' 'Macao' 'Macedo De Cavaleiros'
 'Machico' 'Madalena' 'Mafra' 'Maia' 'Mangualde' 'Manteigas'
 'Marco De Canaveses' 'Marinha Grande' 'Marvao' 'Matosinhos' 'Mealhada'
 'Meda' 'Melgaco' 'Mertola' 'Mesao Frio' 'Mira' 'Miranda Do Corvo'
 'Miranda Do Douro' 'Mirandela' 'Mogadouro' 'Moimenta Da Beira' 'Moita'
 'Moncao' 'Monchique' 'Mondim De Basto' 'Monforte' 'Montalegre'
 'Montemor-O-Novo' 'Montemor-O-Velho' 'Montijo' 'Mora' 'Mortagua' 'Moura'
 'Mourao' 'Murca' 'Murtosa' 'Nazare' 'Nelas' 'Nisa' 'Nordeste' 'Obidos'
 'Odemira' 'Odivelas' 'Oeiras' 'Oleiros' 'Olhao' 'Oliveira De Azemeis'
 'Oliveira De Frades' 'Oliveira Do Bairro' 'Oliveira Do Hospital' 'Ourem'
 'Ourique' 'Ovar' 'Pacos De Ferreira' 'Palmela' 'Pampilhosa Da Serra'
 'Paredes' 'Paredes De Coura' 'Pedrogao Grande' 'Penacova' 'Penafiel'
 'Penalva Do Castelo' 'Penamacor' 'Penedono' 'Penela' 'Peniche'
 'Peso Da Regua' 'Pinhel' 'Pombal' 'Ponta Delgada' 'Ponta Do Sol'
 'Ponte Da Barca' 'Ponte De Lima' 'Ponte De Sor' 'Portalegre' 'Portel'
 'Portimao' 'Porto' 'Porto De Mos' 'Porto Moniz' 'Porto Santo'
 'Povoa De Lanhoso' 'Povoa De Varzim' 'Povoacao' 'Proenca-A-Nova'
 'Redondo' 'Reguengos De Monsaraz' 'Resende' 'Ribeira Brava'
 'Ribeira De Pena' 'Ribeira Grande' 'Rio Maior' 'Sabrosa' 'Sabugal'
 'Salvaterra De Magos' 'Santa Comba Dao' 'Santa Cruz'
 'Santa Cruz Da Graciosa' 'Santa Cruz Das Flores' 'Santa Maria Da Feira'
 'Santa Marta De Penaguiao' 'Santana' 'Santarem' 'Santiago Do Cacem'
 'Santo Tirso' 'Sao Bras De Alportel' 'Sao Joao Da Madeira'
 'Sao Joao Da Pesqueira' 'Sao Pedro Do Sul' 'Sao Roque Do Pico'
 'Sao Vicente' 'Sardoal' 'Satao' 'Seia' 'Seixal' 'Sernancelhe' 'Serpa'
 'Serta' 'Sesimbra' 'Setubal' 'Sever Do Vouga' 'Silves' 'Sines' 'Sintra'
 'Sobral De Monte Agraco' 'Soure' 'Sousel' 'Tabua' 'Tabuaco' 'Tarouca'
 'Tavira' 'Terras De Bouro' 'Tomar' 'Tondela' 'Torre De Moncorvo'
 'Torres Novas' 'Torres Vedras' 'Trancoso' 'Trofa' 'Vagos'
 'Vale De Cambra' 'Valenca' 'Valongo' 'Valpacos' 'Velas' 'Vendas Novas'
 'Viana Do Alentejo' 'Viana Do Castelo' 'Vidigueira' 'Vieira Do Minho'
 'Vila Da Praia Da Vitoria' 'Vila De Rei' 'Vila Do Bispo' 'Vila Do Conde'
 'Vila Do Porto' 'Vila Flor' 'Vila Franca De Xira' 'Vila Franca Do Campo'
 'Vila Nova Da Barquinha' 'Vila Nova De Cerveira' 'Vila Nova De Famalicao'
 'Vila Nova De Foz Coa' 'Vila Nova De Gaia' 'Vila Nova De Paiva'
 'Vila Nova De Poiares' 'Vila Pouca De Aguiar' 'Vila Real'
 'Vila Real De Santo Antonio' 'Vila Velha De Rodao' 'Vila Verde'
 'Vila Vicosa' 'Vimioso' 'Vinhais' 'Viseu' 'Vizela' 'Vouzela']
Taxa Bruta de Mortalidade unique Regiao values: ['Portugal' 'Nan' 'Abrantes' 'Agueda' 'Aguiar Da Beira' 'Alandroal'
 'Albergaria-A-Velha' 'Albufeira' 'Alcacer Do Sal' 'Alcanena' 'Alcobaca'
 'Alcochete' 'Alcoutim' 'Alenquer' 'Alfandega Da Fe' 'Alijo' 'Aljezur'
 'Aljustrel' 'Almada' 'Almeida' 'Almeirim' 'Almodovar' 'Alpiarca'
 'Alter Do Chao' 'Alvaiazere' 'Alvito' 'Amadora' 'Amarante' 'Amares'
 'Anadia' 'Angra Do Heroismo' 'Ansiao' 'Arcos De Valdevez' 'Arganil'
 'Armamar' 'Arouca' 'Arraiolos' 'Arronches' 'Arruda Dos Vinhos' 'Aveiro'
 'Avis' 'Azambuja' 'Baiao' 'Barcelos' 'Barrancos' 'Barreiro' 'Batalha'
 'Beja' 'Belmonte' 'Benavente' 'Bombarral' 'Borba' 'Boticas' 'Braga'
 'Braganca' 'Cabeceiras De Basto' 'Cadaval' 'Caldas Da Rainha'
 'Calheta [R.A.A.]' 'Calheta [R.A.M.]' 'Camara De Lobos' 'Caminha'
 'Campo Maior' 'Cantanhede' 'Carrazeda De Ansiaes' 'Carregal Do Sal'
 'Cartaxo' 'Cascais' 'Castanheira De Pera' 'Castelo Branco'
 'Castelo De Paiva' 'Castelo De Vide' 'Castro Daire' 'Castro Marim'
 'Castro Verde' 'Celorico Da Beira' 'Celorico De Basto' 'Chamusca'
 'Chaves' 'Cinfaes' 'Coimbra' 'Condeixa-A-Nova' 'Constancia' 'Coruche'
 'Corvo' 'Covilha' 'Crato' 'Cuba' 'Elvas' 'Entroncamento' 'Espinho'
 'Esposende' 'Estarreja' 'Estremoz' 'Evora' 'Fafe' 'Faro' 'Felgueiras'
 'Ferreira Do Alentejo' 'Ferreira Do Zezere' 'Figueira Da Foz'
 'Figueira De Castelo Rodrigo' 'Figueiro Dos Vinhos' 'Fornos De Algodres'
 'Freixo De Espada A Cinta' 'Fronteira' 'Funchal' 'Fundao' 'Gaviao' 'Gois'
 'Golega' 'Gondomar' 'Gouveia' 'Grandola' 'Guarda' 'Guimaraes' 'Horta'
 'Idanha-A-Nova' 'Ilhavo' 'Lagoa' 'Lagoa [R.A.A.]' 'Lagos'
 'Lajes Das Flores' 'Lajes Do Pico' 'Lamego' 'Leiria' 'Lisboa' 'Loule'
 'Loures' 'Lourinha' 'Lousa' 'Lousada' 'Macao' 'Macedo De Cavaleiros'
 'Machico' 'Madalena' 'Mafra' 'Maia' 'Mangualde' 'Manteigas'
 'Marco De Canaveses' 'Marinha Grande' 'Marvao' 'Matosinhos' 'Mealhada'
 'Meda' 'Melgaco' 'Mertola' 'Mesao Frio' 'Mira' 'Miranda Do Corvo'
 'Miranda Do Douro' 'Mirandela' 'Mogadouro' 'Moimenta Da Beira' 'Moita'
 'Moncao' 'Monchique' 'Mondim De Basto' 'Monforte' 'Montalegre'
 'Montemor-O-Novo' 'Montemor-O-Velho' 'Montijo' 'Mora' 'Mortagua' 'Moura'
 'Mourao' 'Murca' 'Murtosa' 'Nazare' 'Nelas' 'Nisa' 'Nordeste' 'Obidos'
 'Odemira' 'Odivelas' 'Oeiras' 'Oleiros' 'Olhao' 'Oliveira De Azemeis'
 'Oliveira De Frades' 'Oliveira Do Bairro' 'Oliveira Do Hospital' 'Ourem'
 'Ourique' 'Ovar' 'Pacos De Ferreira' 'Palmela' 'Pampilhosa Da Serra'
 'Paredes' 'Paredes De Coura' 'Pedrogao Grande' 'Penacova' 'Penafiel'
 'Penalva Do Castelo' 'Penamacor' 'Penedono' 'Penela' 'Peniche'
 'Peso Da Regua' 'Pinhel' 'Pombal' 'Ponta Delgada' 'Ponta Do Sol'
 'Ponte Da Barca' 'Ponte De Lima' 'Ponte De Sor' 'Portalegre' 'Portel'
 'Portimao' 'Porto' 'Porto De Mos' 'Porto Moniz' 'Porto Santo'
 'Povoa De Lanhoso' 'Povoa De Varzim' 'Povoacao' 'Proenca-A-Nova'
 'Redondo' 'Reguengos De Monsaraz' 'Resende' 'Ribeira Brava'
 'Ribeira De Pena' 'Ribeira Grande' 'Rio Maior' 'Sabrosa' 'Sabugal'
 'Salvaterra De Magos' 'Santa Comba Dao' 'Santa Cruz'
 'Santa Cruz Da Graciosa' 'Santa Cruz Das Flores' 'Santa Maria Da Feira'
 'Santa Marta De Penaguiao' 'Santana' 'Santarem' 'Santiago Do Cacem'
 'Santo Tirso' 'Sao Bras De Alportel' 'Sao Joao Da Madeira'
 'Sao Joao Da Pesqueira' 'Sao Pedro Do Sul' 'Sao Roque Do Pico'
 'Sao Vicente' 'Sardoal' 'Satao' 'Seia' 'Seixal' 'Sernancelhe' 'Serpa'
 'Serta' 'Sesimbra' 'Setubal' 'Sever Do Vouga' 'Silves' 'Sines' 'Sintra'
 'Sobral De Monte Agraco' 'Soure' 'Sousel' 'Tabua' 'Tabuaco' 'Tarouca'
 'Tavira' 'Terras De Bouro' 'Tomar' 'Tondela' 'Torre De Moncorvo'
 'Torres Novas' 'Torres Vedras' 'Trancoso' 'Trofa' 'Vagos'
 'Vale De Cambra' 'Valenca' 'Valongo' 'Valpacos' 'Velas' 'Vendas Novas'
 'Viana Do Alentejo' 'Viana Do Castelo' 'Vidigueira' 'Vieira Do Minho'
 'Vila Da Praia Da Vitoria' 'Vila De Rei' 'Vila Do Bispo' 'Vila Do Conde'
 'Vila Do Porto' 'Vila Flor' 'Vila Franca De Xira' 'Vila Franca Do Campo'
 'Vila Nova Da Barquinha' 'Vila Nova De Cerveira' 'Vila Nova De Famalicao'
 'Vila Nova De Foz Coa' 'Vila Nova De Gaia' 'Vila Nova De Paiva'
 'Vila Nova De Poiares' 'Vila Pouca De Aguiar' 'Vila Real'
 'Vila Real De Santo Antonio' 'Vila Velha De Rodao' 'Vila Verde'
 'Vila Vicosa' 'Vimioso' 'Vinhais' 'Viseu' 'Vizela' 'Vouzela']
Taxa de Mortalidade Infantil unique Regiao values: ['Portugal' 'Nan' 'Abrantes' 'Agueda' 'Aguiar Da Beira' 'Alandroal'
 'Albergaria-A-Velha' 'Albufeira' 'Alcacer Do Sal' 'Alcanena' 'Alcobaca'
 'Alcochete' 'Alcoutim' 'Alenquer' 'Alfandega Da Fe' 'Alijo' 'Aljezur'
 'Aljustrel' 'Almada' 'Almeida' 'Almeirim' 'Almodovar' 'Alpiarca'
 'Alter Do Chao' 'Alvaiazere' 'Alvito' 'Amadora' 'Amarante' 'Amares'
 'Anadia' 'Angra Do Heroismo' 'Ansiao' 'Arcos De Valdevez' 'Arganil'
 'Armamar' 'Arouca' 'Arraiolos' 'Arronches' 'Arruda Dos Vinhos' 'Aveiro'
 'Avis' 'Azambuja' 'Baiao' 'Barcelos' 'Barrancos' 'Barreiro' 'Batalha'
 'Beja' 'Belmonte' 'Benavente' 'Bombarral' 'Borba' 'Boticas' 'Braga'
 'Braganca' 'Cabeceiras De Basto' 'Cadaval' 'Caldas Da Rainha'
 'Calheta [R.A.A.]' 'Calheta [R.A.M.]' 'Camara De Lobos' 'Caminha'
 'Campo Maior' 'Cantanhede' 'Carrazeda De Ansiaes' 'Carregal Do Sal'
 'Cartaxo' 'Cascais' 'Castanheira De Pera' 'Castelo Branco'
 'Castelo De Paiva' 'Castelo De Vide' 'Castro Daire' 'Castro Marim'
 'Castro Verde' 'Celorico Da Beira' 'Celorico De Basto' 'Chamusca'
 'Chaves' 'Cinfaes' 'Coimbra' 'Condeixa-A-Nova' 'Constancia' 'Coruche'
 'Corvo' 'Covilha' 'Crato' 'Cuba' 'Elvas' 'Entroncamento' 'Espinho'
 'Esposende' 'Estarreja' 'Estremoz' 'Evora' 'Fafe' 'Faro' 'Felgueiras'
 'Ferreira Do Alentejo' 'Ferreira Do Zezere' 'Figueira Da Foz'
 'Figueira De Castelo Rodrigo' 'Figueiro Dos Vinhos' 'Fornos De Algodres'
 'Freixo De Espada A Cinta' 'Fronteira' 'Funchal' 'Fundao' 'Gaviao' 'Gois'
 'Golega' 'Gondomar' 'Gouveia' 'Grandola' 'Guarda' 'Guimaraes' 'Horta'
 'Idanha-A-Nova' 'Ilhavo' 'Lagoa' 'Lagoa [R.A.A.]' 'Lagos'
 'Lajes Das Flores' 'Lajes Do Pico' 'Lamego' 'Leiria' 'Lisboa' 'Loule'
 'Loures' 'Lourinha' 'Lousa' 'Lousada' 'Macao' 'Macedo De Cavaleiros'
 'Machico' 'Madalena' 'Mafra' 'Maia' 'Mangualde' 'Manteigas'
 'Marco De Canaveses' 'Marinha Grande' 'Marvao' 'Matosinhos' 'Mealhada'
 'Meda' 'Melgaco' 'Mertola' 'Mesao Frio' 'Mira' 'Miranda Do Corvo'
 'Miranda Do Douro' 'Mirandela' 'Mogadouro' 'Moimenta Da Beira' 'Moita'
 'Moncao' 'Monchique' 'Mondim De Basto' 'Monforte' 'Montalegre'
 'Montemor-O-Novo' 'Montemor-O-Velho' 'Montijo' 'Mora' 'Mortagua' 'Moura'
 'Mourao' 'Murca' 'Murtosa' 'Nazare' 'Nelas' 'Nisa' 'Nordeste' 'Obidos'
 'Odemira' 'Odivelas' 'Oeiras' 'Oleiros' 'Olhao' 'Oliveira De Azemeis'
 'Oliveira De Frades' 'Oliveira Do Bairro' 'Oliveira Do Hospital' 'Ourem'
 'Ourique' 'Ovar' 'Pacos De Ferreira' 'Palmela' 'Pampilhosa Da Serra'
 'Paredes' 'Paredes De Coura' 'Pedrogao Grande' 'Penacova' 'Penafiel'
 'Penalva Do Castelo' 'Penamacor' 'Penedono' 'Penela' 'Peniche'
 'Peso Da Regua' 'Pinhel' 'Pombal' 'Ponta Delgada' 'Ponta Do Sol'
 'Ponte Da Barca' 'Ponte De Lima' 'Ponte De Sor' 'Portalegre' 'Portel'
 'Portimao' 'Porto' 'Porto De Mos' 'Porto Moniz' 'Porto Santo'
 'Povoa De Lanhoso' 'Povoa De Varzim' 'Povoacao' 'Proenca-A-Nova'
 'Redondo' 'Reguengos De Monsaraz' 'Resende' 'Ribeira Brava'
 'Ribeira De Pena' 'Ribeira Grande' 'Rio Maior' 'Sabrosa' 'Sabugal'
 'Salvaterra De Magos' 'Santa Comba Dao' 'Santa Cruz'
 'Santa Cruz Da Graciosa' 'Santa Cruz Das Flores' 'Santa Maria Da Feira'
 'Santa Marta De Penaguiao' 'Santana' 'Santarem' 'Santiago Do Cacem'
 'Santo Tirso' 'Sao Bras De Alportel' 'Sao Joao Da Madeira'
 'Sao Joao Da Pesqueira' 'Sao Pedro Do Sul' 'Sao Roque Do Pico'
 'Sao Vicente' 'Sardoal' 'Satao' 'Seia' 'Seixal' 'Sernancelhe' 'Serpa'
 'Serta' 'Sesimbra' 'Setubal' 'Sever Do Vouga' 'Silves' 'Sines' 'Sintra'
 'Sobral De Monte Agraco' 'Soure' 'Sousel' 'Tabua' 'Tabuaco' 'Tarouca'
 'Tavira' 'Terras De Bouro' 'Tomar' 'Tondela' 'Torre De Moncorvo'
 'Torres Novas' 'Torres Vedras' 'Trancoso' 'Trofa' 'Vagos'
 'Vale De Cambra' 'Valenca' 'Valongo' 'Valpacos' 'Velas' 'Vendas Novas'
 'Viana Do Alentejo' 'Viana Do Castelo' 'Vidigueira' 'Vieira Do Minho'
 'Vila Da Praia Da Vitoria' 'Vila De Rei' 'Vila Do Bispo' 'Vila Do Conde'
 'Vila Do Porto' 'Vila Flor' 'Vila Franca De Xira' 'Vila Franca Do Campo'
 'Vila Nova Da Barquinha' 'Vila Nova De Cerveira' 'Vila Nova De Famalicao'
 'Vila Nova De Foz Coa' 'Vila Nova De Gaia' 'Vila Nova De Paiva'
 'Vila Nova De Poiares' 'Vila Pouca De Aguiar' 'Vila Real'
 'Vila Real De Santo Antonio' 'Vila Velha De Rodao' 'Vila Verde'
 'Vila Vicosa' 'Vimioso' 'Vinhais' 'Viseu' 'Vizela' 'Vouzela']
Taxa Bruta de Natalidade unique Regiao values: ['Portugal' 'Nan' 'Abrantes' 'Agueda' 'Aguiar Da Beira' 'Alandroal'
 'Albergaria-A-Velha' 'Albufeira' 'Alcacer Do Sal' 'Alcanena' 'Alcobaca'
 'Alcochete' 'Alcoutim' 'Alenquer' 'Alfandega Da Fe' 'Alijo' 'Aljezur'
 'Aljustrel' 'Almada' 'Almeida' 'Almeirim' 'Almodovar' 'Alpiarca'
 'Alter Do Chao' 'Alvaiazere' 'Alvito' 'Amadora' 'Amarante' 'Amares'
 'Anadia' 'Angra Do Heroismo' 'Ansiao' 'Arcos De Valdevez' 'Arganil'
 'Armamar' 'Arouca' 'Arraiolos' 'Arronches' 'Arruda Dos Vinhos' 'Aveiro'
 'Avis' 'Azambuja' 'Baiao' 'Barcelos' 'Barrancos' 'Barreiro' 'Batalha'
 'Beja' 'Belmonte' 'Benavente' 'Bombarral' 'Borba' 'Boticas' 'Braga'
 'Braganca' 'Cabeceiras De Basto' 'Cadaval' 'Caldas Da Rainha'
 'Calheta [R.A.A.]' 'Calheta [R.A.M.]' 'Camara De Lobos' 'Caminha'
 'Campo Maior' 'Cantanhede' 'Carrazeda De Ansiaes' 'Carregal Do Sal'
 'Cartaxo' 'Cascais' 'Castanheira De Pera' 'Castelo Branco'
 'Castelo De Paiva' 'Castelo De Vide' 'Castro Daire' 'Castro Marim'
 'Castro Verde' 'Celorico Da Beira' 'Celorico De Basto' 'Chamusca'
 'Chaves' 'Cinfaes' 'Coimbra' 'Condeixa-A-Nova' 'Constancia' 'Coruche'
 'Corvo' 'Covilha' 'Crato' 'Cuba' 'Elvas' 'Entroncamento' 'Espinho'
 'Esposende' 'Estarreja' 'Estremoz' 'Evora' 'Fafe' 'Faro' 'Felgueiras'
 'Ferreira Do Alentejo' 'Ferreira Do Zezere' 'Figueira Da Foz'
 'Figueira De Castelo Rodrigo' 'Figueiro Dos Vinhos' 'Fornos De Algodres'
 'Freixo De Espada A Cinta' 'Fronteira' 'Funchal' 'Fundao' 'Gaviao' 'Gois'
 'Golega' 'Gondomar' 'Gouveia' 'Grandola' 'Guarda' 'Guimaraes' 'Horta'
 'Idanha-A-Nova' 'Ilhavo' 'Lagoa' 'Lagoa [R.A.A.]' 'Lagos'
 'Lajes Das Flores' 'Lajes Do Pico' 'Lamego' 'Leiria' 'Lisboa' 'Loule'
 'Loures' 'Lourinha' 'Lousa' 'Lousada' 'Macao' 'Macedo De Cavaleiros'
 'Machico' 'Madalena' 'Mafra' 'Maia' 'Mangualde' 'Manteigas'
 'Marco De Canaveses' 'Marinha Grande' 'Marvao' 'Matosinhos' 'Mealhada'
 'Meda' 'Melgaco' 'Mertola' 'Mesao Frio' 'Mira' 'Miranda Do Corvo'
 'Miranda Do Douro' 'Mirandela' 'Mogadouro' 'Moimenta Da Beira' 'Moita'
 'Moncao' 'Monchique' 'Mondim De Basto' 'Monforte' 'Montalegre'
 'Montemor-O-Novo' 'Montemor-O-Velho' 'Montijo' 'Mora' 'Mortagua' 'Moura'
 'Mourao' 'Murca' 'Murtosa' 'Nazare' 'Nelas' 'Nisa' 'Nordeste' 'Obidos'
 'Odemira' 'Odivelas' 'Oeiras' 'Oleiros' 'Olhao' 'Oliveira De Azemeis'
 'Oliveira De Frades' 'Oliveira Do Bairro' 'Oliveira Do Hospital' 'Ourem'
 'Ourique' 'Ovar' 'Pacos De Ferreira' 'Palmela' 'Pampilhosa Da Serra'
 'Paredes' 'Paredes De Coura' 'Pedrogao Grande' 'Penacova' 'Penafiel'
 'Penalva Do Castelo' 'Penamacor' 'Penedono' 'Penela' 'Peniche'
 'Peso Da Regua' 'Pinhel' 'Pombal' 'Ponta Delgada' 'Ponta Do Sol'
 'Ponte Da Barca' 'Ponte De Lima' 'Ponte De Sor' 'Portalegre' 'Portel'
 'Portimao' 'Porto' 'Porto De Mos' 'Porto Moniz' 'Porto Santo'
 'Povoa De Lanhoso' 'Povoa De Varzim' 'Povoacao' 'Proenca-A-Nova'
 'Redondo' 'Reguengos De Monsaraz' 'Resende' 'Ribeira Brava'
 'Ribeira De Pena' 'Ribeira Grande' 'Rio Maior' 'Sabrosa' 'Sabugal'
 'Salvaterra De Magos' 'Santa Comba Dao' 'Santa Cruz'
 'Santa Cruz Da Graciosa' 'Santa Cruz Das Flores' 'Santa Maria Da Feira'
 'Santa Marta De Penaguiao' 'Santana' 'Santarem' 'Santiago Do Cacem'
 'Santo Tirso' 'Sao Bras De Alportel' 'Sao Joao Da Madeira'
 'Sao Joao Da Pesqueira' 'Sao Pedro Do Sul' 'Sao Roque Do Pico'
 'Sao Vicente' 'Sardoal' 'Satao' 'Seia' 'Seixal' 'Sernancelhe' 'Serpa'
 'Serta' 'Sesimbra' 'Setubal' 'Sever Do Vouga' 'Silves' 'Sines' 'Sintra'
 'Sobral De Monte Agraco' 'Soure' 'Sousel' 'Tabua' 'Tabuaco' 'Tarouca'
 'Tavira' 'Terras De Bouro' 'Tomar' 'Tondela' 'Torre De Moncorvo'
 'Torres Novas' 'Torres Vedras' 'Trancoso' 'Trofa' 'Vagos'
 'Vale De Cambra' 'Valenca' 'Valongo' 'Valpacos' 'Velas' 'Vendas Novas'
 'Viana Do Alentejo' 'Viana Do Castelo' 'Vidigueira' 'Vieira Do Minho'
 'Vila Da Praia Da Vitoria' 'Vila De Rei' 'Vila Do Bispo' 'Vila Do Conde'
 'Vila Do Porto' 'Vila Flor' 'Vila Franca De Xira' 'Vila Franca Do Campo'
 'Vila Nova Da Barquinha' 'Vila Nova De Cerveira' 'Vila Nova De Famalicao'
 'Vila Nova De Foz Coa' 'Vila Nova De Gaia' 'Vila Nova De Paiva'
 'Vila Nova De Poiares' 'Vila Pouca De Aguiar' 'Vila Real'
 'Vila Real De Santo Antonio' 'Vila Velha De Rodao' 'Vila Verde'
 'Vila Vicosa' 'Vimioso' 'Vinhais' 'Viseu' 'Vizela' 'Vouzela']
Taxa de Desemprego unique Regiao values: ['Portugal' 'Abrantes' 'Agueda' 'Aguiar Da Beira' 'Alandroal'
 'Albergaria-A-Velha' 'Albufeira' 'Alcacer Do Sal' 'Alcanena' 'Alcobaca'
 'Alcochete' 'Alcoutim' 'Alenquer' 'Alfandega Da Fe' 'Alijo' 'Aljezur'
 'Aljustrel' 'Almada' 'Almeida' 'Almeirim' 'Almodovar' 'Alpiarca'
 'Alter Do Chao' 'Alvaiazere' 'Alvito' 'Amadora' 'Amarante' 'Amares'
 'Anadia' 'Angra Do Heroismo' 'Ansiao' 'Arcos De Valdevez' 'Arganil'
 'Armamar' 'Arouca' 'Arraiolos' 'Arronches' 'Arruda Dos Vinhos' 'Aveiro'
 'Avis' 'Azambuja' 'Baiao' 'Barcelos' 'Barrancos' 'Barreiro' 'Batalha'
 'Beja' 'Belmonte' 'Benavente' 'Bombarral' 'Borba' 'Boticas' 'Braga'
 'Braganca' 'Cabeceiras De Basto' 'Cadaval' 'Caldas Da Rainha'
 'Calheta [R.A.A.]' 'Calheta [R.A.M.]' 'Camara De Lobos' 'Caminha'
 'Campo Maior' 'Cantanhede' 'Carrazeda De Ansiaes' 'Carregal Do Sal'
 'Cartaxo' 'Cascais' 'Castanheira De Pera' 'Castelo Branco'
 'Castelo De Paiva' 'Castelo De Vide' 'Castro Daire' 'Castro Marim'
 'Castro Verde' 'Celorico Da Beira' 'Celorico De Basto' 'Chamusca'
 'Chaves' 'Cinfaes' 'Coimbra' 'Condeixa-A-Nova' 'Constancia' 'Coruche'
 'Corvo' 'Covilha' 'Crato' 'Cuba' 'Elvas' 'Entroncamento' 'Espinho'
 'Esposende' 'Estarreja' 'Estremoz' 'Evora' 'Fafe' 'Faro' 'Felgueiras'
 'Ferreira Do Alentejo' 'Ferreira Do Zezere' 'Figueira Da Foz'
 'Figueira De Castelo Rodrigo' 'Figueiro Dos Vinhos' 'Fornos De Algodres'
 'Freixo De Espada A Cinta' 'Fronteira' 'Funchal' 'Fundao' 'Gaviao' 'Gois'
 'Golega' 'Gondomar' 'Gouveia' 'Grandola' 'Guarda' 'Guimaraes' 'Horta'
 'Idanha-A-Nova' 'Ilhavo' 'Lagoa' 'Lagoa [R.A.A.]' 'Lagos'
 'Lajes Das Flores' 'Lajes Do Pico' 'Lamego' 'Leiria' 'Lisboa' 'Loule'
 'Loures' 'Lourinha' 'Lousa' 'Lousada' 'Macao' 'Macedo De Cavaleiros'
 'Machico' 'Madalena' 'Mafra' 'Maia' 'Mangualde' 'Manteigas'
 'Marco De Canaveses' 'Marinha Grande' 'Marvao' 'Matosinhos' 'Mealhada'
 'Meda' 'Melgaco' 'Mertola' 'Mesao Frio' 'Mira' 'Miranda Do Corvo'
 'Miranda Do Douro' 'Mirandela' 'Mogadouro' 'Moimenta Da Beira' 'Moita'
 'Moncao' 'Monchique' 'Mondim De Basto' 'Monforte' 'Montalegre'
 'Montemor-O-Novo' 'Montemor-O-Velho' 'Montijo' 'Mora' 'Mortagua' 'Moura'
 'Mourao' 'Murca' 'Murtosa' 'Nazare' 'Nelas' 'Nisa' 'Nordeste' 'Obidos'
 'Odemira' 'Odivelas' 'Oeiras' 'Oleiros' 'Olhao' 'Oliveira De Azemeis'
 'Oliveira De Frades' 'Oliveira Do Bairro' 'Oliveira Do Hospital' 'Ourem'
 'Ourique' 'Ovar' 'Pacos De Ferreira' 'Palmela' 'Pampilhosa Da Serra'
 'Paredes' 'Paredes De Coura' 'Pedrogao Grande' 'Penacova' 'Penafiel'
 'Penalva Do Castelo' 'Penamacor' 'Penedono' 'Penela' 'Peniche'
 'Peso Da Regua' 'Pinhel' 'Pombal' 'Ponta Delgada' 'Ponta Do Sol'
 'Ponte Da Barca' 'Ponte De Lima' 'Ponte De Sor' 'Portalegre' 'Portel'
 'Portimao' 'Porto' 'Porto De Mos' 'Porto Moniz' 'Porto Santo'
 'Povoa De Lanhoso' 'Povoa De Varzim' 'Povoacao' 'Proenca-A-Nova'
 'Redondo' 'Reguengos De Monsaraz' 'Resende' 'Ribeira Brava'

C:\Users\Diogo Ribeiro\AppData\Local\Temp\ipykernel_23924\717651580.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Regiao"] = df["Regiao"].astype(str).str.strip().str.title() # removes leading/trailing spaces and capitalizes each word
C:\Users\Diogo Ribeiro\AppData\Local\Temp\ipykernel_23924\717651580.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Regiao"] = df["Regiao"].apply(lambda x: unidecode.unidecode(x)) # remove accents
C:\Users\Diogo Ribeiro\AppData\Local\Temp\ipykernel_23924\717651580.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Nivel"] = df["Nivel"].astype(str).str.strip().str.title() # removes leading/trailing spaces and capitalizes each word
C:\Users\Diogo Ribeiro\AppData\Local\Temp\ipykernel_23924\717651580.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Nivel"] = df["Nivel"].apply(lambda x: unidecode.unidecode(x)) # remove accents

In [9]:
# =========================================
# Filter datasets to include only "Municipio" level 
# =========================================

# Function to filter DataFrame for Nivel = "Municipio"
def filter_municipio(df):
    # Keeps only rows where Nivel column = "Municipio".
    # Returns a copy of the filtered dataframe. 
    return df[df["Nivel"] == "Municipio"].copy()

# Apply filter to all datasets
for name, df in datasets.items():
    datasets[name] = filter_municipio(df)

# Check filtered dataset sample
print(datasets["População Residente"].head())

          Ano              Regiao      Nivel  Populacao
36896  1981.0            Abrantes  Municipio    48727.0
36899  1981.0              Agueda  Municipio    43512.0
36902  1981.0     Aguiar Da Beira  Municipio     7314.0
36905  1981.0           Alandroal  Municipio     8118.0
36908  1981.0  Albergaria-A-Velha  Municipio    21416.0

In [10]:
# =========================================
# Drop "Nivel" column from all datasets
# =========================================

for df in datasets.values():
    df.drop(columns=["Nivel"], inplace=True, errors="ignore")

# Check a dataset
print(datasets["População Residente"].head())

          Ano              Regiao  Populacao
36896  1981.0            Abrantes    48727.0
36899  1981.0              Agueda    43512.0
36902  1981.0     Aguiar Da Beira     7314.0
36905  1981.0           Alandroal     8118.0
36908  1981.0  Albergaria-A-Velha    21416.0

In [11]:
# =========================================
# Carry over values from 2023 to 2024 for selected datasets
# =========================================

# Rationale:
# Some datasets do not yet have values for 2024

carry_over_years = ["Salário", "Taxa de Divórcio"] # keys from datasets dictionary

for name in carry_over_years:
    df = datasets[name]

    # Select rows from 2023
    df_2023 = df[df["Ano"] == 2023].copy()

    # Update year to 2024
    df_2023["Ano"] = 2024

    # Append to original dataset
    datasets[name] = pd.concat([df, df_2023], ignore_index=True)

In [12]:
# =========================================
# Merge all datasets into a single consolidated dataframe
# =========================================

# Merge keys: Municipality (Regiao) and Year (Ano)
merge_keys = ["Ano", "Regiao"]

# Start with population dataset
merged_df = datasets["População Residente"]

# List of datasets to merge (all except population)
merge_order = [
    "Taxa Bruta de Mortalidade",
    "Taxa de Mortalidade Infantil",
    "Taxa Bruta de Natalidade",
    "Taxa de Desemprego",
    "Salário",
    "Farmácias",
    "Crimes_Total",
    "Taxa de Nupcialidade",
    "Taxa de Divórcio"
]

# Merge each dataset on the same keys
for key in merge_order:
    df_to_merge = datasets[key]
    merged_df = merged_df.merge(df_to_merge, on=merge_keys, how="left")

# Check for missing values after merging
print(merged_df.isna().sum())

# Sort merged dataset by Regiao and Ano and reset index
merged_df.sort_values(by=["Regiao", "Ano"], inplace=True)
merged_df.reset_index(drop=True, inplace=True)

Ano                              0
Regiao                           0
Populacao                       30
Mortes_por_1000               4620
Mortes_por_1000_nadosvivos    4627
Nascimentos_por_1000          4312
n_desempregados               9104
Salario                       7179
n_farmacias                   6468
n_crimes                      8624
Casamentos_por_1000           4316
Divorcios_por_1000            4312
dtype: int64

In [13]:
# =========================================
# Merge all datasets into a single detailed dataframe (keeps Tipo_Crime)
# =========================================

# Merge keys: Municipality (Regiao) and Year (Ano)
merge_keys = ["Ano", "Regiao"]

# Start with population dataset
merged_detailed_df = datasets["População Residente"]

# List of datasets to merge (all except population)
merge_order_detailed = [
    "Taxa Bruta de Mortalidade",
    "Taxa de Mortalidade Infantil",
    "Taxa Bruta de Natalidade",
    "Taxa de Desemprego",
    "Salário",
    "Farmácias",
    "Crimes", # keeps multiple rows per Tipo_Crime
    "Taxa de Nupcialidade",
    "Taxa de Divórcio"
]

# Merge each dataset on the same keys
for key in merge_order_detailed:
    df_to_merge = datasets[key]
    merged_detailed_df = merged_detailed_df.merge(df_to_merge, on=merge_keys, how="left")

# Check for missing values after merging
print(merged_detailed_df.isna().sum())

# Sort merged dataset by Regiao and Ano and reset index
merged_detailed_df.sort_values(by=["Regiao", "Ano"], inplace=True)
merged_detailed_df.reset_index(drop=True, inplace=True)

Ano                               0
Regiao                            0
Populacao                        30
Mortes_por_1000                4620
Mortes_por_1000_nadosvivos     4634
Nascimentos_por_1000           4312
n_desempregados               12464
Salario                        7844
n_farmacias                    6468
Tipo_Crime                     8624
n_crimes                      18322
Casamentos_por_1000            4344
Divorcios_por_1000             4312
dtype: int64

In [14]:
# =========================================
# Save cleaned and merged datasets to CSV
# =========================================

processed_data_path = "../data/processed"

# Export standard merged dataset
merged_df.to_csv(f"{processed_data_path}\merged_dataset.csv", index=False)
print("CSV saved successfully. Shape:", merged_df.shape)

# Export detailed merged dataset (keeps multiple row per Tipo_Crime)
merged_detailed_df.to_csv(f"{processed_data_path}\merged_dataset_detailed.csv", index=False)
print("CSV saved successfully. Shape:", merged_detailed_df.shape)

CSV saved successfully. Shape: (13552, 12)
CSV saved successfully. Shape: (48048, 13)

In [15]:
# =========================================
# Analyse year 2024
# =========================================

def inspect_2024(df, name):
    # Filter for 2024
    df_2024 = df[df["Ano"] == 2024].copy()

    # Count missing "Regiao"
    na_count = df_2024["Regiao"].isna().sum()

    # Count rows corresponding to Portugal (should be 0)
    portugal_count = (df_2024["Regiao"] == "Portugal").sum()

    # Print results
    print(f"{name} - Year 2024:")
    print(f"Missing 'Regiao' in 2024: {na_count}")
    print(f"Rows for 'Portugal' in 2024: {portugal_count}")
    
    return df_2024

# Apply to merged_df
df_2024_simple = inspect_2024(merged_df, "Merged (one row per municipality)")

# Apply to merged_detailed_df
df_2024_detailed = inspect_2024(merged_detailed_df, "Merged Detailed (multiple rows per municipality)")

Merged (one row per municipality) - Year 2024:
Missing 'Regiao' in 2024: 0
Rows for 'Portugal' in 2024: 0
Merged Detailed (multiple rows per municipality) - Year 2024:
Missing 'Regiao' in 2024: 0
Rows for 'Portugal' in 2024: 0

In [19]:
# =========================================
# Save 2024-specific datasets to CSV
# =========================================

# Save simple 2024 dataset (one row per municipality)
df_2024_simple.to_csv(f"{processed_data_path}\municipal_data_2024.csv", index=False)
print("Simple 2024 CSV saved. Shape:", df_2024_simple.shape)

# Save detailed 2024 dataset (multiple rows per Tipo_Crime)
df_2024_detailed.to_csv(f"{processed_data_path}\municipal_data_2024_detailed.csv', index=False)
print("Detailed 2024 CSV saved. Shape:", df_2024_detailed.shape)

Simple 2024 CSV saved. Shape: (308, 12)
Detailed 2024 CSV saved. Shape: (2464, 13)